
td {
    height: 50px;
    width: 50px;
  
}

.water{
    background-color: aqua;
}

.dirt{
    background-color: khaki;
}

.grass{
    background-color: lightgreen;
}

.forest{
    background-color: forestgreen;
}

.darkie{
    background-color: black;
}

progress{
    max-width: 50px;
    max-height: 5px;
    border-style: 0px solid;
  
    vertical-align: top;
}


