
td {
    height: 30px;
    width: 30px;
}

.water{
    background-color: aqua;
}

.dirt{
    background-color: khaki;
}

.grass{
    background-color: lightgreen;
}

.forest{
    background-color: forestgreen;
}

.darkie{
    background-color: black;
}